<div class = "col-10 offset-1 about">
    <h1>About Quote of the Day</h1>
    <div class="col-12 col-sm-4 mx-auto d-block">
      <%= image_tag 'luis.jpg', class: 'img-fluid' %>
    </div>
    <p>Quote of the Day was built by <a target="_blank" href="https://github.com/Himynameislou">Luis Vegerano.</a> A motivated and hard working web developer who is looking for an amazing place to work and continue to grow his skills. </p>
    </br>
    <p> For information please visit his LinkedIn profile <a target="_blank" href="https://www.linkedin.com/in/luis-vegerano/">Luis Vegerano</a></p>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />