@import "bootstrap";
@import "font-awesome";

body {
  background: #C7E3FF;
}

header {
  border-top: 8px solid #FF61E5;
}

hr {
  clear: both;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
}

.clear {
  clear: both;
}

#commenticon {
  font-size: 2em;
  color: #FF2D55;
  font-weight: bold;
  padding-top: 7px;
}

.slogan {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  padding-top: 15px;
  color: grey;

}

.links {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 7px;

}

.links a {
  color: grey;
  font-weight: bold;
  font-size: 22px;

}

.next-quote {
  color: #f84342;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.next-quote:hover {
  color: #FF61E5;
}

.footer-blurb {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: right;
  font-size: 10px;
}

.blurblink {
  color: red;
}

.blurblink:hover {
  color: #FF61E5;
}