@import "bootstrap";
@import "font-awesome";

header {
  border-top: 6px solid lightcoral;
}

hr {
  clear: both;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
}

.clear {
  clear: both;
}

#commenticon {
  font-size: 2em;
  color: aqua;
  font-weight: bold;
  padding-top: 7px;
}

.slogan {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  padding-top: 15px;
  color: aquamarine;

}

.links {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 7px;

}

.links a {
  color: aquamarine;
  font-weight: bold;
  font-size: 22px;

}